@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.vision-boards {
  background: #fdf7e7;
  font-family: "Lato", sans-serif;
  padding: 0 !important;
}

.vision-board-card {
  border-radius: 25px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vision-board-card:hover {
  transform: translateY(-10px); /* Raises the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.welcome-message {
  color: #4823d1;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  padding-left: 50px;
}

.rec-info {
  padding-left: 50px;
}

.all-topics-link {
  color: #000000 !important;
  text-decoration: underline;
  margin-bottom: 20px;
  display: block;
  padding-left: 50px !important;
}

.fixed-size-img {
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
  width: 415px;
  height: 415px;
  object-fit: cover;
  overflow: hidden;
}

.fixed-height-texting {
  text-align: left;
  font-size: 16px;
  color: #242424;
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
}

.fixed-height-text-p {
  color: #fdf7e7;
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  text-overflow: ellipsis;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fdf7e7;
  background: rgba(0, 0, 0, 0.6);
  transition: background 0.3s;
}

.title-card-formats {
  border-radius: 25px;
  font-family: Lato !important;
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 33px !important;
  text-align: left;
}

.title-card-format-pback {
  border-radius: 25px !important;
  color: var(--Royal-Blue, #fdf7e7) !important;
  font-family: Lato !important;
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 33px !important;
}

.purple-overlay {
  background-color: #643afd;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fdf7e7 !important;
}

.pink-overlay {
  background-color: #ffc2b9;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #643afd !important;
}

.green-overlay {
  background-color: #dbe59a;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #643afd !important;
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit;
}
.card-body {
  min-height: 150px !important;
}

@media (max-width: 480px) {
  .vision-board-card {
    border-radius: 25px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .vision-board-cards {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .welcome-message {
    color: #4823d1;
    font-weight: bold;
    font-size: 3rem !important;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .rec-info {
    padding-left: 10px;
    font-size: 1.5rem;
  }

  .all-topics-link {
    color: #000000 !important;
    text-decoration: underline;
    margin-bottom: 20px;
    display: block;
    padding-left: 10px !important;
  }
}
