.account-created-modal {
    left: 120px; /* Adjust this value as needed to scoot the modal to the left */
  }
  
  @media (max-width: 768px) {
    .account-created-modal {
      left: 0; /* Ensures it stays centered on smaller screens */
    }
  }
  
  .account-created-modal .modal-content {
    background-image: url('/create_acc.png');
    background-position: center -100px !important;
    background-repeat: no-repeat;
    max-width: 570px !important; 
    height: 560px !important; 
    border: none;
    overflow: hidden;
  }
  
  .account-created-content {
    text-align: center;
    position:absolute;
    top: 50%;
    padding: 0 15px !important;
    box-sizing: border-box !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important; 
  }
  
  .fade-in-text {
    font-size: 2.1rem;
    color: #4823D1;
    font-weight: bold;
    animation: fadeIn 4s ease-in-out;
    font-family: 'Lato';
  }
  
  .continue-button {
    animation: fadeIn 7s ease-in-out;
    font-family: 'Lato' !important;
    margin-top: 50px !important;
    padding: 0.5rem 1.5rem !important; /* Adjust padding for height and width control */
    font-size: 1rem !important; /* Although the text size has a specific px size in the wireframes, it is not necessarily conducive when thinking about the responsive needs */
    background-color: #4823D1 !important;
    color: #fff !important;
    border: none !important;
    width: auto !important; /*maybe play with a percentage here*/
    box-sizing: border-box !important;
    border-radius: 50px !important;
    display: inline-block !important;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  