/* Footer.css */
.footer-section {
  background-color: #643afd !important;
  padding: 20px 0;
  font-family: "Lato";
  max-height: 318px;
  margin: 0 !important;
}

.footer-section h5 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 42px;
  font-family: "Lato";
  color: #fbb3a8;
  margin-left: 80px;
}

.footer-section .section-links {
  padding-left: 80px !important; /* This was the desired padding by designer */
}

.footer-linking {
  font-weight: 600;
  color: #f0edfa !important;
  font-size: 1.1rem !important;
}

.footer-section .form-control {
  max-width: 330px;
  min-width: 200px;
  min-height: 44px;
  background-color: #643afd;
  border: 2px w;
  color: #fff;
  border-radius: 50px;
  font-style: italic;
  font-weight: 400 !important;
  margin-left: 56px;
}

.bottom-form-pad {
  padding-left: 25px;
}

.footer-section .form-control::placeholder {
  color: #fdf7e7;
  font-size: 18px;
}

.footer-section .btn-light {
  background-color: #fbb3a8;
  color: #000000;
  border: none;
  border-radius: 50px;
  max-width: 300px !important;
  min-width: 150px !important;
  margin-bottom: 20px;
  height: 44px;
}
