@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.navbar-custom {
  background-color: #4823d1;
  border-bottom: 2px solid #6338fd;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  min-height: 170px !important;
}

.logo-image-home {
  height: 140px !important;
  width: 400px !important;
  margin-left: 40px !important;
}

.home-links {
  padding-right: 20px;
}

.navbar-custom .container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
  color: #ffc107;
}

.nav-link-signup {
  border: 2px solid white !important;
  border-radius: 50px;
  padding: 5px 15px;
  color: #242424 !important;
  text-align: center;
  background-color: #ffc2b9 !important;
  width: 110px;
  height: 44px;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
}

.nav-link-login {
  border: 2px solid white !important;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fdf7e7 !important;
  text-align: center;
  background-color: #4823d1 !important;
  width: 110px;
  height: 44px;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
}

.nav-link-aboutus {
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fdf7e7 !important;
  text-align: center;
  background-color: #4823d1 !important;
  width: 120px;
  height: 44px;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
}

.nav-link-signup:hover {
  background-color: rgba(255, 255, 255, 0.374) !important;
  color: #4a148c !important;
}

.navbar-custom .navbar-nav {
  margin-right: 40px !important;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  color: white !important;
}

.navbar-custom .nav-link {
  margin-right: 1.5rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 1rem;
  color: #fdf7e7;
}

.navbar-custom .nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-custom .navbar-brand img:first-child {
  margin-left: 60px;
}

.navbar-custom .navbar-brand img:last-child {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .navbar-custom {
    height: auto !important;
  }

  .logo-image {
    height: 120px !important;
    width: 300px !important;
    margin-left: 10px !important;
  }

  .navbar-custom .navbar-nav {
    margin-right: 20px !important;
  }

  .nav-link-signup {
    padding: 4px 10px;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    height: auto;
    padding: 10px 0;
  }

  .navbar-custom .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
    margin-top: 10px;
  }

  .navbar-custom .nav-item {
    margin: 5px 0;
  }

  .nav-link-signup {
    display: block;
    width: 90%;
    margin: 10px auto;
  }

  .logo-image {
    height: 100px !important;
    width: 250px !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 430px) {
  .navbar-custom {
    height: auto;
    padding: 5px 0;
  }

  .navbar-custom .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
    margin-top: 5px;
  }

  .navbar-custom .nav-item {
    margin: 5px 0;
  }

  .nav-link-signup {
    display: block;
    width: 50% !important;
    margin: 5px auto;
  }

  .logo-image {
    height: 80px !important;
    width: 200px !important;
    margin: 20 auto !important;
    padding: 5px !important;
  }

  .navbar-custom .nav-link {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .navbar-toggler {
    margin-right: 15px !important;
  }
}

@media (max-width: 480px) {
  .navbar-custom {
    height: auto;
    padding: 5px 0;
  }

  .navbar-custom .navbar-nav {
    margin-top: 5px;
  }

  .nav-link-signup {
    width: 100%;
    margin: 5px 0;
  }

  .logo-image {
    height: 80px !important;
    width: 200px !important;
    margin: 0 auto;
  }

  .navbar-custom .nav-link {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}
