.fixed-size-img-single {
  object-fit: cover;
  width: 415px;
  height: 415px;
}

.welcome-message-single {
  padding-left: 0;
  margin-bottom: 0;
  color: #4823d1 !important;
  font-weight: bold !important;
}

.board-desc-single {
  margin-top: 0 !important;
  padding-top: 0;
}

.keep-exploring {
  border-radius: 25px !important;
  background-color: #643afd !important;
  font-size: larger !important;
  font-family: "Lato" !important;
  font-weight: 300 !important;
}

.sanctuary-return-link {
  text-decoration: none !important;
  color: #242424 !important;
}

@media (max-width: 480px) {
  .custom-padding {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .custom-add-art {
    display: grid;
    place-items: center;
    text-align: center; 
  }

  .title-card-formatz {
    text-align: center;
  }
}
