.fixed-size-img-single {
  object-fit: cover;
  width: 415px;
  height: 415px;
}

.welcome-message-single {
  padding-left: 0;
  margin-bottom: 0;
  color: #4823d1 !important;
  font-weight: bold !important;
}

.board-desc-single {
  margin-top: 0 !important;
  padding-top: 0;
}

.keep-exploring {
  border-radius: 25px !important;
  background-color: #643afd !important;
  font-size: larger !important;
  font-family: 'Lato' !important;
  font-weight: 300 !important;
}