.custom-modal .modal-content {
  overflow: hidden;
  font-family: "Lato";
  color: white !important;
  border: #ffffff !important;
}

.signup-modal-right {
  background-color: #643afd;
  width: 67%;
  padding: 2rem;
  position: relative;
}

.modal-logo-spacing {
  margin-bottom: 55px;
}

input.custom-form-control,
select.custom-form-control,
input.custom-form-control-date,
input[type="tel"].custom-form-control {
  background-color: #643afd !important;
  border-color: #ffffff !important;
  border-radius: 50px !important;
  color: #ffffff !important;
  padding: 0.5rem;
}

input.custom-form-control::placeholder,
select.custom-form-control::placeholder,
input.custom-form-control-date::placeholder,
input[type="tel"].custom-form-control::placeholder {
  color: #ffffff !important;
  opacity: 1;
}

.form-check-input[type="checkbox"],
.form-check-input[type="switch"] {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.form-check-input[type="checkbox"]:checked,
.form-check-input[type="switch"]:checked {
  background-color: #fbb3a8 !important;
  border-color: #fbb3a8 !important;
}

input[type="date"].custom-form-control-date::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert color of date picker icon to match white text */
}

select.custom-form-control {
  background-color: #643afd !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  border-radius: 50px !important;
  padding: 0.5rem;
}

.custom-button {
  color: #000000 !important;
  border-radius: 50px !important;
  width: 366px;
  background-color: #fbb3a8 !important;
  border-color: #fbb3a8 !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  text-decoration: none !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.custom-link {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  text-decoration: none !important;
}

.circle {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-bottom: 5px !important;
}

.explore-circle {
  background-color: #dbf7d6 !important;
}

.curate-circle {
  background-color: #f2b5a6 !important;
}

.advocate-circle {
  background-color: #fff !important;
}

.small-text {
  font-size: 12px;
  color: #ffffff !important;
}

.small-text a {
  color: #ffffff !important;
  text-decoration: dashed !important;
}

.small-text a:hover {
  text-decoration: underline;
}

/* ended up using bootstrap close button */
.close-button {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  background-color: #ffffff !important;
  border: none !important;
  font-size: 18px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  text-align: center !important;
  padding: 0 !important;
  line-height: 28px !important;
  cursor: pointer !important;
  color: #000000 !important;
}

.close-button:hover {
  background-color: #f0f0f0 !important;
  color: #ff0000 !important;
}
